@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  --color: #3a3a3a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "NunitoB";
  src: local("NunitoB"),
    url("../fonts/NunitoSans_7pt-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoLight";
  src: local("NunitoLight"),
   url("../fonts/NunitoSans_7pt-Light.ttf") format("truetype");
 }

@font-face {
  font-family: "NunitoSb";
  src: local("NunitoSb"),
   url("../fonts/NunitoSans_7pt-SemiBold.ttf") format("truetype");
 } 


